*{

    box-sizing: border-box;
}

.app{
    font-family: sans-serif;
    color: rgb(51, 49, 49);
    .middle{
        width: 100%;
        display: flex;
    }
}

.link{
    text-decoration: none;
    color: (35, 107, 201);
}





