.MessageAdd{
    position: absolute;
    position: fixed;
    width: 500px;
    height: 50px;
    background-color: white;
    color: green;
    padding: 10px 30px;
    z-index: 700;
    top: 30px;
    right: 300px;
    background-color: greenyellow;
    border-radius: 5px;

}
